nav {
   background: none !important;
   box-shadow: 0 0 5px 1px #c2c2c2 !important;
   padding: 15px;
}

.logo-topup span {
   font-size: .7rem;
   margin-right: .5rem;
}

.speeddial-left.p-speeddial.p-component.p-speeddial-linear.p-speeddial-direction-up {
   bottom: 0;
   right: 10px;
}
.navbar-brand b{
   font-size: 20px;
}