<div class="container mt-5">
   <div class="row">
      <div class="col-12 col-md-10 mx-auto">
         <div class="card">
            <div class="card-bg"></div>
            <div class="card-body">
               <div class="row">
                  <div class="col-12 col-md-9">
                     <div>
                        <img src="assets/logo.png" alt="" width="30" height="30">
                     </div>
                     <p>
                        Hay un problema con tu orden. <br>
                        Comunícate con el comercio para mayor información.
                     </p>
                     <br>
                     <br>
                     <p>
                        ¡Tu transacción no se pudo procesar correctamente!
                     </p>
                     <br>
                     <!-- <p>
                        &lsaquo; Volver -
                     </p> -->
                  </div>
                  <div class="col-12 col-md-3">
                     <img src="assets/transfer_money.svg" class="w-100">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>